body{
    background-color:lightgrey
}

div#topbar{
    background-color:black;
    position:fixed;
    top:0px;
    width: 100%;
    padding:10px 0px 5px 5px;
    margin:0 0 0 -8px;
}

div#sidebar li{
    display: inline ;
    padding:10px;
    float:right
    
   
}